<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>エントリーボタン - シンプルサンプル</title>

  <!-- ECM グローバルCSS -->
  <link rel="stylesheet" href="https://r.r10s.jp/com/js/c/ecm/3.28/ecm-3.28.0.min.css">

  <!-- ECM グローバルJS -->
  <script src="https://r.r10s.jp/com/js/c/ecm/3.28/ecm-3.28.0.min.js"></script>

  <!-- エントリーボタンのJavaScript -->
  <script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
</head>
<body>
  
      <!-- 実際のエントリーボタン -->
      <div
        class="rcEntryButton"
        layout="pc"
        settings='{
          "campaignCode": "/ic/test-campaign-demo",
          "checkboxLabel": "<strong>エントリーしてメルマガを購読する</strong>",
          "checkboxText": "<div><strong><a href=\"https://my.rakuten.co.jp/\">楽天会員情報</a>にご登録されているメールアドレス</strong>宛てに、<strong>楽天市場</strong>より、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の<strong>テストニュース</strong>をお送りいたします。<strong>メルマガ購読を希望されない方は、チェックを外してください。</strong></div>",
          "ekey": "test-ekey-12345"
        }'
      ></div>


</body>
</html>
